
<div class="privacy-container">
    <div style="border-radius: 20px; padding-bottom: 30px">
    <div class="privacy-header" style="padding-top:20px">Privacy Policy</div>
    <div class="privacy-intro">At Reply 'em Inc., we care about our users' privacy.</div>

    <div class="privacy-section" style="padding-top:20px">
        <p>It is our policy to respect your privacy regarding any information we may collect while operating our software and/or website. Therefore, we would like you to understand how we collect, use, communicate, disclose, and otherwise make use of personal information. Please read our privacy policy below.</p>

        <p>We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.</p>

        <p>Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.</p>

        <p>We will collect and use personal information solely for fulfilling those purposes specified by us and for other ancillary purposes, unless we obtain the consent of the individual concerned or as required by law.</p>

        <p>Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.</p>

        <p>We will protect personal information by using reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use, or modification.</p>

        <p>We will make readily available to customers information about our policies and practices relating to the management of personal information.</p>

        <p>We will only retain personal information for as long as necessary for the fulfillment of those purposes.</p>

        <p>We are committed to conducting our business in accordance with these principles to ensure that the confidentiality of personal information is protected and maintained. We may change this privacy policy from time to time at Reply 'em Inc.'s sole discretion.</p>
    </div>

    <div class="privacy-section">
        <div class="privacy-subheader">Data Collection</div>
        <p>LeadsBus collects and stores the following data: name, Facebook ID, email address, and the names and IDs of your pages. We use this information solely to ensure the proper functioning of our application, personalize the user experience, manage access to your pages, and facilitate communication with our platform.</p>
    </div>

    <div class="privacy-section">
        <div class="privacy-subheader">Data Protection</div>
        <p>LeadsBus implements security measures to protect your information and ensures its confidential storage.</p>
    </div>

    <div class="privacy-section" style="margin-bottom: 10px; padding-bottom: 210px">
        <div class="privacy-subheader">Withdrawing Consent</div>
        <p>If you wish to withdraw your consent or request the deletion of your data from our platform, please send us a message at <a href="https://m.me/replyem" target="_blank">https://m.me/replyem</a> or email us at <a href="mailto:info@replyem.com">info@replyem.com</a>. We will respond on the next business day, between 9:00 a.m. and 6:00 p.m. (UTC-6).</p>
    </div>
</div>
</div>