<section class="container navbar-1">
  <div class="d-flex justify-content-between">
    <div class="col">
      <a class="logo" href="/">LeadsBus</a>
    </div>
    <div class="col show-sm">
      <input id="menu-toggle" type="checkbox" (click)="toggleNav()" />
      <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
      </label>
    </div>
    <div class="col d-flex justify-content-end hide-sm">
      <button href="/" class="btn btn-orange" (click)="login()">SIGN IN</button>
    </div>
    <div id="mySidenav" class="sidenav" [className]="showSidenav ? 'sidenav w-250':'sidenav'">
      <a href="/">Product</a>
      <a href="/">Template</a>
      <a href="/">Blog</a>
      <a href="/">Pricing</a>
      <div class="d-flex flex-column">
        <button href="/" class="btn btn-orange mt-4 mr-3">SIGN Free</button>
      </div>
    </div>
  </div>
</section>