<section class="container navbar-1">
  <div class="d-flex justify-content-between">
    <div class="col">
      <div class="d-flex align-items-center">
        <img style="height: 40px" src="../../assets/images/message-icon.png" alt="LeadsBus Logo">
        <a class="logo ml-2" href="/">LeadsBus</a>
      </div>
    </div>
    <div class="col show-sm">
      <input id="menu-toggle" type="checkbox" (click)="toggleNav()" />
      <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
      </label>
    </div>
    <div class="col d-flex justify-content-end hide-sm">
      <button href="/" class="btn btn-orange" (click)="login()">SIGN IN</button>
    </div>
    <div id="mySidenav" class="sidenav" [className]="showSidenav ? 'sidenav w-250':'sidenav'">
      <a (click)="navigateToPrivacy()">Privacy Policy</a>
      <a (click)="contactViaWhatsApp()">Contact via WhatsApp</a>
      <div class="d-flex flex-column">
        <button class="btn btn-orange mt-4 mr-3" (click)="login()">SIGN Free</button>
      </div>
    </div>
  </div>
</section>