<footer class="footer">
  <div class="section-join container">
    <h1 class="section-title col-12 col-lg-7 mx-auto">Join millions of creative people with LeadsBus</h1>
    <button class="btn btn-orange" (click)="contactUs()">Contact Us</button>
  </div>

  <div class="line"></div>

  <div class="section-info container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h5 class="title-1"><a style="color: white" href="/">LeadsBus</a></h5>
        <h6 class="subtitle col-12 col-lg-11 p-0">Revolutionize your customer engagement. Automate promotions, enhance connections, and grow your business with ease. Your journey to success starts here.</h6>
      </div>

      <div class="col-12 col-lg-2 mt-sm-20">
        <h5 class="title-1 mb-4">Privacy And Terms</h5>
        <h6 class="title-2"><a style="color: white" href="terms-and-conditions">Terms and Conditions</a></h6>
        <h6 class="title-2"><a  style="color: white" href="privacy-policy">Privacy Policy</a></h6>
      </div>
    </div>
  </div>

  <div class="line"></div>

  <div class="section-copyright d-flex justify-content-between container">
    <div class="col-12 col-md-6 text-center-sm">
      <h6>2022 LeadsBus. All rights reserved. -- Privacy Policy - Terms of Services</h6>
    </div>
    <div class="col-12 col-md-6 text-right text-center-sm">
      <h6>Supported By Deosai Ventures</h6>
    </div>
  </div>
</footer>